// variables

$col1: #A6B529; //Green
$col1-light: #cad853; //Light Green
$col5: #d0effc; // Light Blue
$col2: #71CEF5; // Blue
$col3: #EEEEEE; // Light Gray
$col4: #aeaeae; // Dark Gray
$col5: #6e6e6e; // DarkerG rey

$white: #ffffff;
$black: #000000;



// Global 
.opacity {
	opacity: 0.8;
}


header.navbar {
	border-bottom: solid 5px $col2;
}

#menu-top-nav {
	color: $white;
}

#masthead .nav > li > a:hover {
	color: $col1;
	text-decoration: none!important;
}

// Home
#sign-up {
	font-size: 30px;
}

#email{
	padding-left: 10px;
	background-color: $col3;
	color: $black;
}

// Placeholder
#email::-webkit-input-placeholder {
   color: $col4;
}
#email:-moz-placeholder { /* Firefox 18- */
   color: $col4;  
}
#email::-moz-placeholder {  /* Firefox 19+ */
   color: $col4;  
}
#email:-ms-input-placeholder {  
   color: $col4;  
}
#lets-go {
	background-color: $col1;
	color: $white;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: 900;
}
#lets-go:hover {
	background-color: $col1-light;
}

.strap-intro {
	padding-bottom: 0!important; 
}
.strap {
	margin-bottom: 130px;
	text-align: center;
	h2 {
		font-size: 2.3em;
	}
	h2:first-of-type{
		margin-bottom: 1.7em;
	}
	h1 {
		font-size: 4em;
		font-weight: 700;
		margin-bottom: 2em;
	}
}

#mobile-apps {
	.background-media {
		opacity: 0.2;
	}
	.nutcache-is-free {
		background-color: rgba(255,255,255,0.7);
		padding: 1em;
	}
}

.mobile-btn {
	margin: auto;
	margin-top: 2em;
	display: block;
	text-align: center;
	background-color: $col1;
	color: $white;
	padding-bottom: 6px;
	padding-top: 6px;
	font-size: 30px;
	font-weight: 900;
	line-height: -2;
	font-family: 'Open Sans';
	i {
		font-size: 1.2em;
		margin-right: 5px;
	}
}

.security-text {
	color: $col5;
	h2 {
		color: $col5!important;
	}
	background-color: rgba(255,255,255,0.8);
	padding: 1em;
}

.class {
	
}