<table border="0" cellpadding="0" cellspacing="0" width="700" align="center">
  <tr>
    <td><img src="http://www.dynacom.com/portals/3/infolettre/jan2013/header_logo.jpg" width="700" height="99" usemap="#Map" style="display:block; width:700px" /></td>
  </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="700" align="center" style="width:700px">
  <tr>
    <td width="50" valign="top" height="40" style="width:50px"><img src="http://www.dynacom.com/portals/3/infolettre/layout/topstory_sides.png" width="50" height="40" style="display:block; width:50px"></td>
    <td width="1" style="background-color:#f7f7f7; width:1px"></td>
    <td width="578" rowspan="2" style="color:#303030; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; line-height:1.2em; vertical-align:top; padding-left:10px; padding-right:10px"><p style="font-size:16px"><strong>Chers clients Dynacom,</strong></p>
    <p><strong>Ceci est un avis d'interruption de service temporaire pour Dynacom Saas.</strong></p>
      <p>Une interruption de service pour accéder au logiciel  Comptabilité Dynacom en mode Saas aura lieu <strong>samedi le 8 juin prochain de 22h à 6h le dimanche matin (HAE)</strong>.
Cette interruption de service a pour but de mettre à jour votre logiciel Comptabilité Dynacom à la version la plus récente.
</p>
            <p>Vous pouvez consulter la <a href="http://www.dynacom.com/fr-ca/products/whatsnewlatestupdate.aspx">liste des nouveautés de la version 11.6</a> sur le site Web de Dynacom, et trouverez ci-dessous la liste des correctifs apportés à notre logiciel pour cette dernière mise à jour :</p>

 <ul>
 <li>Un changement a été annoncé pour la province du Nouveau-Brunswick à l’égard des retenues à la source. Ce changement sera effectif à compter du 1er juillet 2013;</li>
<li>L’erreur qui survenait au moment d’effectuer un ajustement du cumulatif sur l'accumulateur « Salaire admissible CSST » a été corrigée;</li>
<li>L’unité erronée qui s’affichait au moment d’effectuer un chèque de paie simplifié incluant un groupe de paie &mdash; pour un employé dont la fiche comportait un segment par défaut &mdash; a été corrigée;</li>
<li>Le calcul pour la Contribution Santé a été revu et corrigé;</li>
<li>La colonne Total des rapports &laquo;&nbsp;Âge des comptes fournisseurs &mdash; sommaire et détaillé&nbsp;&raquo; inclut désormais le calcul de la retenue;</li>
<li>Les crédits ouverts apparaissent maintenant dans les rapports &laquo;&nbsp;Âge des comptes fournisseurs &mdash; sommaire et détaillé&nbsp;&raquo;.</li>
</ul>

<p>Merci de votre compréhension.</p>
<p>L'équipe Dynacom</p>

      <p>----------</p></td>
    <td width="1" style="background-color:#f7f7f7; width:1px"></td>
    <td width="50" valign="top" height="40" style="width:50px"><img src="http://www.dynacom.com/portals/3/infolettre/layout/topstory_sides.png" width="50" height="40" style="display:block"></td>
  </tr>
  <tr>
    <td width="50" style="background-color:#f1f4f5; width:50px">&nbsp;</td>
    <td width="1" style="background-color:#f7f7f7; width:1px"></td>
    <td width="1" style="background-color:#f7f7f7; width:1px"></td>
    <td width="50" style="background-color:#f1f4f5; width:50px">&nbsp;</td>
  </tr>
  <tr>
    <td width="50" style="background-color:#f1f4f5; width:50px">&nbsp;</td>
    <td width="1" style="background-color:#f7f7f7; width:1px"></td>
    <td style="color:#303030; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; line-height:1.2em; vertical-align:top; padding-left:10px; padding-right:10px"><p style="font-size:16px"><strong>Dear Dynacom customers,</strong></p>
    
    
    <p><strong>This is a a temporary interruption notice for Dynacom on Saas service.</strong></p>

<p>An interruption of service will prevent access to your Dynacom Accounting Saas software on <strong>Saturday June 8th, from 10:00 PM to 6:00 AM on Sunday morning (EDT)</strong>.
This interruption of service is necessary install the latest update for your Dynacom Accounting software.</p>
 		 
<p>You can view the list of <a href="http://www.dynacom.com/en-us/products/whatsnewlatestupdate.aspx">new features in version 11.6</a> on Dynacom's website, and find below the complete list of fixes made to our software with this latest update:</p>

    <ul>
    <li>A change has been announced for the province of New Brunswick regarding the remittance payments. The change will take effect as of July 1, 2013;</li>
    <li>The error that occurred when making an adjustment to the "Eligible CSST salary" accumulator’s cumulative has been corrected;</li>
    <li>Changing unit on an employee’s paycheck including a default segment and a pay group used to give an amount of $ 0.00. This situation has been corrected;</li>
    <li>The calculation for the Health Contribution has been revised and corrected;</li>
    <li>Holdback amounts are now calculated in the total of the supplier aging summary and detailed repors;</li>
    <li>Open credits now appear in the supplier aging summary and detailed reports.</li>
    </ul>


<p>Thank you for your understanding.</p>
<p>The Dynacom Team</p>
    <p>&nbsp;</p>
    </td>
    <td width="1" style="background-color:#f7f7f7; width:1px"></td>
    <td width="50" style="background-color:#f1f4f5; width:50px">&nbsp;</td>
  </tr>
</table>
<table width="700px" cellpadding="0" cellspacing="0" border="0" align="center" style="width:700px">
  <tr>
    <td colspan="2" style="color:#e4e4e4; font-family:arial; font-size:11px; text-align:center; background-color:#0b4661; padding:10px 0px;">Dynacom Technologies - 1270 boulevard Dagenais Ouest, Laval (QC)  H7L 5E3 &middot; 1 877 588-2515 &middot; <a href="http://www.dynacom.com/default.aspx?language=fr-ca" style="color:#e4e4e4">www.dynacom.com</a><br /><a href="[GLOBAL_UNSUBSCRIBE]" style="color:#e4e4e4">Je ne veux plus recevoir de courriels de Dynacom</a> &middot; <a href="[GLOBAL_UNSUBSCRIBE]" style="color:#e4e4e4">I don't want to receive emails from Dynacom</a></td>
  </tr>
  <tr>
    <td width="550" style="color:#e4e4e4; font-family:arial; font-size:11px; background-color:#0b4661; padding-left:10px; padding-right:10px" height="10px"></td>
    <td style="background-color:#0b4661" width="150"></td>
  </tr>
</table>
