.opacity {
  opacity: 0.8; }

header.navbar {
  border-bottom: solid 5px #71CEF5; }

#menu-top-nav {
  color: #ffffff; }

#masthead .nav > li > a:hover {
  color: #A6B529;
  text-decoration: none !important; }

#sign-up {
  font-size: 30px; }

#email {
  padding-left: 10px;
  background-color: #EEEEEE;
  color: #000000; }

#email::-webkit-input-placeholder {
  color: #aeaeae; }

#email:-moz-placeholder {
  /* Firefox 18- */
  color: #aeaeae; }

#email::-moz-placeholder {
  /* Firefox 19+ */
  color: #aeaeae; }

#email:-ms-input-placeholder {
  color: #aeaeae; }

#lets-go {
  background-color: #A6B529;
  color: #ffffff;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 900; }

#lets-go:hover {
  background-color: #cad853; }

.strap-intro {
  padding-bottom: 0 !important; }

.strap {
  margin-bottom: 130px;
  text-align: center; }
  .strap h2 {
    font-size: 2.3em; }
  .strap h2:first-of-type {
    margin-bottom: 1.7em; }
  .strap h1 {
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 2em; }

#mobile-apps .background-media {
  opacity: 0.2; }
#mobile-apps .nutcache-is-free {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1em; }

.mobile-btn {
  margin: auto;
  margin-top: 2em;
  display: block;
  text-align: center;
  background-color: #A6B529;
  color: #ffffff;
  padding-bottom: 6px;
  padding-top: 6px;
  font-size: 30px;
  font-weight: 900;
  line-height: -2;
  font-family: 'Open Sans'; }
  .mobile-btn i {
    font-size: 1.2em;
    margin-right: 5px; }

.security-text {
  color: #6e6e6e;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em; }
  .security-text h2 {
    color: #6e6e6e !important; }
